.heading{
    text-align: center;
}

.main{
    display: flex;
    max-height: 100vh;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.helpContainer{
    display: flex;
    flex-direction: column;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}