.pageSubBoxesContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #74D229;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 230px;
    min-height: fit-content;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pageSubBoxText {
    color: #74D229;
    font-size: 1.4rem;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.content{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 1rem;
}